.dialog-form {
	background: #E247070;
}

.dialog-form button {
	display: block;
	margin-left: 70%;
	margin-top: 10px
}

.dialog-form label {
	display: block;
	font-size: 16px;
	font-style: normal;
}

.div-pagin{
	background: bisque;
}
.div-pagin li{
	display: inline;
	padding: 5%;
	margin-left: 5%;
	font-size: 13px;
}

.ui-dialog .ui-dialog-titlebar {
	font-size: 16px;
	background: #E47070;;
}

.table td{
text-align: left;
}


.pagination-div {
	margin-left: 40%;	
}

h1{
	text-align: center;
}